


.mainbackgroundcolor{
  background-color: white;
}

.opacity{
  opacity: 0.3;
}


.secondarybackgroundcolor{
  background-color: black;
}

.primarybuttoncolor{
  background: rgb(3, 168, 124)
}

.Position{
  position: fixed;
  top: 8vh;
  right:11vw;
}

.ce-toolbox__button{
  color: black;
  border-style: medium;
  border-width: 1px;
  border-color: black;
  border-radius: 100%;
  outline: none;
  margin-left: 1.3vw;
}

.ce-toolbar__plus:hover{
  color: black;
}

.ce-toolbar__plus{
  color: black;
  border-style: medium;
  border-width: 1px;
  border-color: black;
  border-radius: 100%;
  outline: none;
}
